# Scraping using BeatifulSoup
* you have to donwload html of coinmarketcap beacuse it have lazy loading so the records doesn't charge very welll. In this project I donwloaded html on 17/04/2024

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [126]:
def read_html(file_path):
    # Leer el contenido del archivo HTML
    with open(file_path, "r", encoding="utf-8") as file:
        html_content = file.read()

    # Parsear el HTML con BeautifulSoup
    soup = BeautifulSoup(html_content, 'html.parser')
    return soup

In [127]:
def process_of_html(soup):
    rows = soup.find_all('tr')
    data_list = []

    # Iterar sobre las filas de la tabla
    for row in rows[1:]:
        # Encontrar todas las celdas de la fila
        cells = row.find_all(['th', 'td'])
        cells.pop()
        cells.pop(0)

        # Extraer el texto de cada celda y agregarlo a la lista de datos
        data_row = []
        for cell in cells:
            # Obtener el texto de la celda
            cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])
            for element in cell.find_all():
                class_name = element.get('class')
                if class_name:
                    if "icon-Caret-up" in class_name:
                        cell_text = "+" + cell_text

                    elif "icon-Caret-down" in class_name:
                        cell_text = "-" + cell_text

            data_row.append(cell_text)

        data_list.append(data_row)

    return data_list

In [128]:
def create_save_to_csv(name,data_list):
    df = pd.DataFrame(data_list[1:],columns=data_list[0])
    df.to_csv(f"{name}.csv",sep=";")

In [129]:
def create_save_to_csv_assing_cols(name,data_list,cols):
    df = pd.DataFrame(data_list,columns=cols)
    df.to_csv(f"{name}.csv",sep=";")

In [6]:
path ="./CoinMarketCap/01_Meme_v2/1.html"
soup = read_html(path)
data_list = process_of_html(soup)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

memes data_raw

In [9]:
pathFile = "./CoinMarketCap/01_Meme_v2"
data_list = []
for i in range(1,11):
    soup = read_html(f"{pathFile}/{i}.html")
    data_list += process_of_html(soup)
create_save_to_csv("data_memes_18042024_coinmarket.csv",data_list)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [13]:
df_memes = pd.DataFrame(data_list[1:],columns=data_list[0])
df_memes.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,39,Immutable IMX,$1.98,+0.30%,+4.20%,-22.55%,"$2.84B $2,839,201,943","$63,714,307 32,009,998 IMX","1,431,285,079 IMX"
1,61,Beam BEAM,$0.02641,+0.40%,+1.52%,-15.32%,"$1.4B $1,398,307,513","$33,173,759 1,253,755,155 BEAM","52,951,176,339 BEAM"
2,63,Gala GALA,$0.04353,+0.50%,+6.30%,-25.74%,"$1.33B $1,326,581,964","$185,636,634 4,255,760,776 GALA","30,493,177,498 GALA"
3,64,FLOKI FLOKI,$0.0001382,+0.28%,+1.83%,-28.15%,"$1.32B $1,321,986,170","$140,095,291 1,014,302,483,719 FLOKI","9,568,393,313,435 FLOKI"
4,74,MultiversX EGLD,$40.69,+0.48%,+0.89%,-21.31%,"$1.09B $1,091,647,933","$25,784,729 634,119 EGLD","26,833,769 EGLD"

gaming data raw

In [12]:
pathFile = "./CoinMarketCap/02_Gaming"
data_list = []
for i in range(1,5):
    soup = read_html(f"{pathFile}/{i}.html")
    data_list += process_of_html(soup)
create_save_to_csv("./data/data_raw/data_gaming_18042024_coinmarket.csv",data_list)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [14]:
df_gaming = pd.DataFrame(data_list[1:],columns=data_list[0])
df_gaming.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,39,Immutable IMX,$1.98,+0.30%,+4.20%,-22.55%,"$2.84B $2,839,201,943","$63,714,307 32,009,998 IMX","1,431,285,079 IMX"
1,61,Beam BEAM,$0.02641,+0.40%,+1.52%,-15.32%,"$1.4B $1,398,307,513","$33,173,759 1,253,755,155 BEAM","52,951,176,339 BEAM"
2,63,Gala GALA,$0.04353,+0.50%,+6.30%,-25.74%,"$1.33B $1,326,581,964","$185,636,634 4,255,760,776 GALA","30,493,177,498 GALA"
3,64,FLOKI FLOKI,$0.0001382,+0.28%,+1.83%,-28.15%,"$1.32B $1,321,986,170","$140,095,291 1,014,302,483,719 FLOKI","9,568,393,313,435 FLOKI"
4,74,MultiversX EGLD,$40.69,+0.48%,+0.89%,-21.31%,"$1.09B $1,091,647,933","$25,784,729 634,119 EGLD","26,833,769 EGLD"

In [130]:
pathFile = "./CoinMarketCap/03_AI"
data_list = []
for i in range(2,4):
    soup = read_html(f"{pathFile}/{i}.html")
    data_list += process_of_html(soup)
create_save_to_csv("./data/data_raw/data_ai_18042024_coinmarket.csv",data_list)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_13668\2571514576.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [131]:
df_ai = pd.DataFrame(data_list[1:],columns=data_list[0])
df_ai.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,1050,Robonomics.network XRT,$6.54,+0.37%,+0.56%,-23.40%,"$10.89M $10,888,512","$30,861 4,720 XRT","1,665,451 XRT"
1,1057,SENATE SENATE,$0.096,-0.19%,+0.50%,-21.22%,"$10.54M $10,544,140","$79,786 831,180 SENATE","109,822,392 SENATE"
2,1056,Big Data Protocol BDP,$0.2017,+0.35%,+0.14%,-20.36%,"$10.52M $10,522,378","$248,287 1,230,849 BDP","52,278,856 BDP"
3,1058,PIBBLE PIB,$0.0004805,-0.50%,-3.22%,-23.71%,"$10.52M $10,515,630","$245,007 509,929,289 PIB","21,913,860,893 PIB"
4,1064,Ooki Protocol OOKI,$0.002281,+0.02%,-0.75%,-29.57%,"$10.38M $10,377,404","$2,687,294 1,178,281,586 OOKI","4,558,586,607 OOKI"

In [35]:
COLS = df_ai.columns

# Portafolios of Walles

litelemnte lo mismo asiq ue solo tenemos que descargar los datos

In [1]:
import os
from pathlib import Path

In [ ]:
folder_path = "./CoinMarketCap/Portfolio/"
html_files = list(Path(folder_path).glob("*.html"))
filtered_files = [file.name for file in html_files ]

In [79]:
filtered_files[4][4:-63]

'CMS Holdings'

In [84]:
for file in filtered_files:
    soup = read_html(f"{folder_path}/{file}")
    data_list = process_of_html(soup)
    create_save_to_csv_assing_cols(f"./data/data_raw/walles/{file[4:-63]}",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [90]:
folder_path_PLAY_TO_EARN = "./CoinMarketCap/Portfolio/PLAY_TO_EARN"
html_files_PLAY_TO_EARN = list(Path(folder_path_PLAY_TO_EARN).glob("*.html"))
filtered_files_PLAY_TO_EARN = [file.name for file in html_files_PLAY_TO_EARN ]

In [91]:
filtered_files_PLAY_TO_EARN

['Top Play To Earn Tokens by Market Capitalization - Page 2 _ CoinMarketCap.html',
 'Top Play To Earn Tokens by Market Capitalization - Page 3 _ CoinMarketCap.html',
 'Top Play To Earn Tokens by Market Capitalization - Page 4 _ CoinMarketCap.html',
 'Top Play To Earn Tokens by Market Capitalization _ CoinMarketCap.html']

In [92]:
data_list=[]
for files  in filtered_files_PLAY_TO_EARN:
    soup = read_html(f"{folder_path_PLAY_TO_EARN}/{files}")
    data_list += process_of_html(soup)
create_save_to_csv_assing_cols(f"./data/data_raw/Play_To_Earn",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

## Data about Token on Market at CoinMarketCap

In [38]:
pathFile = "./CoinMarketCap/05_token_tron"
soup = read_html(f"{pathFile}/{1}.html")
data_list = process_of_html(soup)
create_save_to_csv_assing_cols("./data/data_raw/data_token_tron_18042024_coinmarket.csv",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [39]:
df_TRON_TOKENS = pd.DataFrame(data_list,columns=COLS)
df_TRON_TOKENS.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,15,TRON TRX,$0.1093,+0.13%,-0.78%,-9.29%,"$9.57B $9,573,535,449","$358,122,084 3,278,392,430 TRX","87,611,180,280 TRX"
1,72,BitTorrent (New) BTT,$0.000001283,+0.45%,+2.23%,-15.94%,"$1.24B $1,242,574,748","$38,642,426 30,300,939,896,719 BTT","968,246,428,571,000 BTT"
2,144,APENFT NFT,$0.0...04514,-0.03%,-0.59%,-15.54%,"$446.93M $446,933,404","$24,365,459 53,935,273,537,933 NFT","990,105,682,877,398 NFT"
3,200,JUST JST,$0.03251,+0.06%,+1.56%,-24.68%,"$289.39M $289,388,185","$33,364,670 1,024,311,669 JST","8,902,080,000 JST"
4,353,Sun (New) SUN,$0.0136,+0.06%,+1.10%,-10.91%,"$134.77M $134,769,440","$24,084,433 1,771,847,061 SUN","9,908,522,472 SUN"

In [40]:
pathFile = "./CoinMarketCap/06_token_solana"
data_list = []
for i in range(1,4):
    soup = read_html(f"{pathFile}/{i}.html")
    data_list += process_of_html(soup)
create_save_to_csv_assing_cols("./data/data_raw/data_SOLANA_TOKEN_18042024_coinmarket.csv",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [41]:
df_SOLANA_TOKENS = pd.DataFrame(data_list,columns=COLS)
df_SOLANA_TOKENS.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,3,Tether USDT,$1.00,+0.00%,+0.03%,+0.01%,"$109.08B $109,079,083,585","$63,832,217,418 63,808,278,024 USDT","109,031,963,305 USDT"
1,5,Solana SOL,$143.23,+1.54%,+6.41%,-17.18%,"$64B $63,997,804,878","$4,168,610,669 29,592,771 SOL","446,820,711 SOL"
2,16,Chainlink LINK,$13.94,+0.92%,+5.20%,-20.39%,"$8.18B $8,181,603,330","$348,269,542 25,145,916 LINK","587,099,970 LINK"
3,36,Render RNDR,$7.96,+0.75%,+2.56%,-11.57%,"$3.06B $3,058,359,236","$170,059,260 21,608,345 RNDR","384,361,224 RNDR"
4,43,dogwifhat WIF,$2.58,-0.02%,+4.81%,-25.91%,"$2.58B $2,576,313,532","$483,413,174 188,725,895 WIF","998,906,170 WIF"

In [44]:
pathFile = "./CoinMarketCap/07_cardano"
soup = read_html(f"{pathFile}/{1}.html")
data_list = process_of_html(soup)
create_save_to_csv_assing_cols("./data/data_raw/data_CARDANO_TOKEN_18042024_coinmarket.csv",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [45]:
df_CARDANO_TOKEN = pd.DataFrame(data_list,columns=COLS)
df_CARDANO_TOKEN.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,10,Cardano ADA,$0.4589,+0.48%,-2.47%,-21.77%,"$16.35B $16,345,725,477","$412,004,534 913,807,158 ADA","35,622,646,899 ADA"
1,16,Chainlink LINK,$13.94,+0.94%,+5.17%,-20.40%,"$8.18B $8,181,654,584","$348,658,659 25,583,752 LINK","587,099,970 LINK"
2,75,SingularityNET AGIX,$0.8462,-0.10%,+3.63%,-18.38%,"$1.08B $1,084,851,267","$98,541,964 117,245,417 AGIX","1,282,094,972 AGIX"
3,106,Nexo NEXO,$1.21,-0.77%,+0.11%,-15.11%,"$679.54M $679,542,782","$4,809,255 3,943,825 NEXO","560,000,011 NEXO"
4,280,API3 API3,$2.32,+0.06%,+2.04%,-27.34%,"$200.48M $200,476,023","$11,347,763 4,974,037 API3","86,421,978 API3"

In [47]:
pathFile = "./CoinMarketCap/08_etherium"
data_list = []
for i in range(1,4):
    soup = read_html(f"{pathFile}/{i}.html")
    data_list += process_of_html(soup)
create_save_to_csv_assing_cols("./data/data_raw/data_ETHERIUM_TOKEN_18042024_coinmarket.csv",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

In [48]:
df_ETHERIUM_TOKEN = pd.DataFrame(data_list,columns=COLS)
df_ETHERIUM_TOKEN.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,2,Ethereum ETH,"$3,072.44",-0.25%,+2.07%,-12.49%,"$368.91B $368,914,197,986","$15,340,418,124 5,003,070 ETH","120,072,117 ETH"
1,11,Shiba Inu SHIB,$0.00002285,+0.17%,+2.72%,-17.19%,"$13.47B $13,467,725,316","$467,017,415 20,485,132,680,649 SHIB","589,289,410,812,691 SHIB"
2,22,Dai DAI,$0.9999,-0.00%,-0.01%,-0.01%,"$5.35B $5,347,850,565","$254,554,269 254,554,647 DAI","5,347,888,596 DAI"
3,26,Mantle MNT,$1.17,+0.93%,+1.26%,-8.09%,"$3.84B $3,835,531,432","$83,206,188 71,575,485 MNT","3,264,441,708 MNT"
4,27,First Digital USD FDUSD,$1.00,+0.05%,+0.07%,-0.04%,"$3.68B $3,675,360,388","$7,934,336,941 7,934,451,693 FDUSD","3,673,766,597 FDUSD"

In [137]:
pathFile = "./CoinMarketCap/09_btc"
soup = read_html(f"{pathFile}/{1}.html")
data_list += process_of_html(soup)
create_save_to_csv_assing_cols("./data/data_raw/data_BTC_TOKEN_18042024_coinmarket.csv",data_list,COLS)

C:\Users\Joseph\AppData\Local\Temp\ipykernel_19996\1828452208.py:16: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
  cell_text = ' '.join([text.strip() for text in cell.find_all(text=True)])

# Preprocesando Datos recopilados

Limpiando datos AI

In [2]:
import pandas as pd

In [74]:
pathFile = "./data/data_raw/"
ia_tokens = "data_ai_18042024_coinmarket.csv"
df  = pd.read_csv(f"{pathFile}{ia_tokens}",sep=";")

In [75]:
df = df.drop(columns=["Unnamed: 0"])

In [77]:
df.head()

,+#,Nombre,Precio,1h %,24 h %,7d %,Cap. de Mercado,Volumen (24h),Acciones en circulación
0,1050,Robonomics.network XRT,$6.54,+0.37%,+0.56%,-23.40%,"$10.89M $10,888,512","$30,861 4,720 XRT","1,665,451 XRT"
1,1057,SENATE SENATE,$0.096,-0.19%,+0.50%,-21.22%,"$10.54M $10,544,140","$79,786 831,180 SENATE","109,822,392 SENATE"
2,1056,Big Data Protocol BDP,$0.2017,+0.35%,+0.14%,-20.36%,"$10.52M $10,522,378","$248,287 1,230,849 BDP","52,278,856 BDP"
3,1058,PIBBLE PIB,$0.0004805,-0.50%,-3.22%,-23.71%,"$10.52M $10,515,630","$245,007 509,929,289 PIB","21,913,860,893 PIB"
4,1064,Ooki Protocol OOKI,$0.002281,+0.02%,-0.75%,-29.57%,"$10.38M $10,377,404","$2,687,294 1,178,281,586 OOKI","4,558,586,607 OOKI"

In [78]:
df.isna().sum()

+#                         0
Nombre                     0
Precio                     0
1h %                       0
24 h %                     0
7d %                       0
Cap. de Mercado            0
Volumen (24h)              0
Acciones en circulación    0
dtype: int64

In [79]:
df=df.replace("--",None)

In [80]:
df = df.dropna()

In [81]:
df["Symbol"] = df["Nombre"].str.split(" ").str[-1]

In [82]:
df["Nombre"] = df["Nombre"].str.split(" ").str[:-1].str.join(" ")

In [83]:
df["Cap. de Mercado"] = df["Cap. de Mercado"].str.split(" ").str[-1]

In [84]:
df["Volumen (24h) USD"] = df["Volumen (24h)"].str.split(" ").str[0].str[1:]

In [85]:
df["Volumen (24h) Tokens"] = df["Volumen (24h)"].str.split(" ").str[1]

In [86]:
df=df.drop(columns=["Volumen (24h)"])

In [87]:
df["Acciones en circulación"]=df["Acciones en circulación"].str.split(" ").str[0]

In [88]:
df = df.rename(columns={'+#': 'top'})

In [89]:
df["top"]=df["top"].astype(int)

In [90]:
df["1h %"]=df["1h %"].str.replace("%","")

In [91]:
df["24 h %"]=df["24 h %"].str.replace("%","")

In [92]:
df["7d %"]=df["7d %"].str.replace("%","")

In [93]:
df["Cap. de Mercado"] = df["Cap. de Mercado"].str[1:]

In [94]:
df = df.rename(columns={'Cap. de Mercado': 'CAP. USD'})

In [95]:
df = df.rename(columns={'Acciones en circulación': 'ACC. CIRCULACION'})

In [96]:
df["Precio"]=df["Precio"].str[1:]

In [97]:
df = df.rename(columns={'Precio': 'Precio USD'})

In [98]:
df["CATEGORY"] = "AI"

In [99]:
df = df.rename(columns={'1h %': '1h%'})
df = df.rename(columns={'24 h %': '24h%'})
df = df.rename(columns={'7d %': '7d%'})

In [100]:
df["Volumen (24h) USD"] = df["Volumen (24h) USD"].str.replace(",","")
df["Volumen (24h) Tokens"] = df["Volumen (24h) Tokens"].str.replace(",","")
df["ACC. CIRCULACION"] = df["ACC. CIRCULACION"].str.replace(",","")
df["CAP. USD"] = df["CAP. USD"].str.replace(",","")

In [101]:
df["Volumen (24h) USD"] = df["Volumen (24h) USD"].astype(float)

In [102]:
df["Volumen (24h) Tokens"] = df["Volumen (24h) Tokens"].astype(float)

In [103]:
df["ACC. CIRCULACION"] = df["ACC. CIRCULACION"].astype(float)

In [104]:
df["CAP. USD"] = df["CAP. USD"].astype(float)

In [105]:
df["Precio USD"] = pd.to_numeric(df["Precio USD"], errors='coerce')
df = df.dropna()
df["Precio USD"] = df["Precio USD"].astype(float)

In [108]:
df["1h%"] = df["1h%"].astype(float)
df["24h%"] = df["24h%"].astype(float)
df["7d%"] = df["7d%"].astype(float)

In [107]:
df.head()

,top,Nombre,Precio USD,1h%,24h%,7d%,CAP. USD,ACC. CIRCULACION,Symbol,Volumen (24h) USD,Volumen (24h) Tokens,CATEGORY
0,1050,Robonomics.network,6.540000,+0.37,+0.56,-23.40,10888512.0,1.665451e+06,XRT,30861.0,4.720000e+03,AI
1,1057,SENATE,0.096000,-0.19,+0.50,-21.22,10544140.0,1.098224e+08,SENATE,79786.0,8.311800e+05,AI
2,1056,Big Data Protocol,0.201700,+0.35,+0.14,-20.36,10522378.0,5.227886e+07,BDP,248287.0,1.230849e+06,AI
3,1058,PIBBLE,0.000481,-0.50,-3.22,-23.71,10515630.0,2.191386e+10,PIB,245007.0,5.099293e+08,AI
4,1064,Ooki Protocol,0.002281,+0.02,-0.75,-29.57,10377404.0,4.558587e+09,OOKI,2687294.0,1.178282e+09,AI

In [109]:
pathFileClean = "./data/data_clean/"

In [112]:
df.to_csv(f"{pathFileClean}data_ai_18042024_coinmarket.csv",sep=";",index=False)

Repetimos por cada archivo

In [121]:
def preprocessing_data(pathFile,category_token):
    df = pd.read_csv(f"{pathFile}",sep=";")
    # Eliminar columnas no necesarias
    df = df.drop(columns=["Unnamed: 0"])
    # Reemplazar valores nulos
    df = df.replace("--",None)
    # Eliminar filas con valores nulos
    df = df.dropna()
    # revisar si en la columna "+#" se encuentran el encabezado como fila
    if "+#" in df.columns:
        df = df.drop(df[df["+#"]=="+#"].index)
    # Asignar el simbolo de la moneda
    df["Symbol"] = df["Nombre"].str.split(" ").str[-1]
    # usar el nombre de la moneda
    df["Nombre"] = df["Nombre"].str.split(" ").str[:-1].str.join(" ")
    # Asignar el valor de la capitalizacion de mercado
    df["Cap. de Mercado"] = df["Cap. de Mercado"].str.split(" ").str[-1]
    # Asignar el valor del volumen de 24 horas en valor USD
    df["Volumen (24h) USD"] = df["Volumen (24h)"].str.split(" ").str[0].str[1:]
    # Asignar el valor del volumen de 24 horas en valor de tokens
    df["Volumen (24h) Tokens"] = df["Volumen (24h)"].str.split(" ").str[1]
    # Eliminar la columna de volumen de 24 horas
    df=df.drop(columns=["Volumen (24h)"])
    # Asignar el valor de las acciones en circulacion
    df["Acciones en circulación"]=df["Acciones en circulación"].str.split(" ").str[0]
    # Renombrar la columna "+#" a "top"
    df = df.rename(columns={'+#': 'top'})
    # Convertir la columna "top" a tipo entero
    df["top"]=df["top"].astype(int)
    # Eliminar el simbolo de porcentaje de la columna "1h %"
    df["1h %"]=df["1h %"].str.replace("%","")
    # Eliminar el simbolo de porcentaje de la columna "24 h %"
    df["24 h %"]=df["24 h %"].str.replace("%","")
    # Eliminar el simbolo de porcentaje de la columna "7d %"
    df["7d %"]=df["7d %"].str.replace("%","")
    # Eliminar el simbolo de dolar de la columna "Cap. de Mercado"
    df["Cap. de Mercado"] = df["Cap. de Mercado"].str[1:]
    # Renombrar la columna "Cap. de Mercado" a "CAP. USD"
    df = df.rename(columns={'Cap. de Mercado': 'CAP. USD'})
    # Renombrar la columna "Acciones en circulación" a "ACC. CIRCULACION"
    df = df.rename(columns={'Acciones en circulación': 'ACC. CIRCULACION'})
    # Eliminar el simbolo de dolar de la columna "Precio"
    df["Precio"]=df["Precio"].str[1:]
    # Renombrar la columna "Precio" a "Precio USD"
    df = df.rename(columns={'Precio': 'Precio USD'})
    # Asignar la categoria de la moneda
    df["CATEGORY"] = category_token
    # Renombrar las columnas "1h %", "24 h %", "7d %" a "1h%","24h%","7d%"
    df = df.rename(columns={'1h %': '1h%'})
    df = df.rename(columns={'24 h %': '24h%'})
    df = df.rename(columns={'7d %': '7d%'})
    # Eliminar las comas de los valores numericos
    df["Volumen (24h) USD"] = df["Volumen (24h) USD"].str.replace(",","")
    df["Volumen (24h) Tokens"] = df["Volumen (24h) Tokens"].str.replace(",","")
    df["ACC. CIRCULACION"] = df["ACC. CIRCULACION"].str.replace(",","")
    df["CAP. USD"] = df["CAP. USD"].str.replace(",","")
    # Convertir las columnas numericas a tipo float
    df["Volumen (24h) USD"] = pd.to_numeric(df["Volumen (24h) USD"], errors='coerce')
    df["Volumen (24h) Tokens"] = pd.to_numeric(df["Volumen (24h) Tokens"], errors='coerce')
    df["ACC. CIRCULACION"] = pd.to_numeric(df["ACC. CIRCULACION"], errors='coerce')
    df["CAP. USD"] = pd.to_numeric(df["CAP. USD"], errors='coerce')
    df["Precio USD"] = pd.to_numeric(df["Precio USD"], errors='coerce')
    # Eliminar filas con valores nulos
    df = df.dropna()
    # Convertir la columna "Precio USD" a tipo float
    df["Volumen (24h) USD"] = df["Volumen (24h) USD"].astype(float)
    df["Volumen (24h) Tokens"] = df["Volumen (24h) Tokens"].astype(float)
    df["ACC. CIRCULACION"] = df["ACC. CIRCULACION"].astype(float)
    df["CAP. USD"] = df["CAP. USD"].astype(float)
    df["Precio USD"] = df["Precio USD"].astype(float)
    # Convertir las columnas "1h%","24h%","7d%" a tipo float
    df["1h%"] = df["1h%"].astype(float)
    df["24h%"] = df["24h%"].astype(float)
    df["7d%"] = df["7d%"].astype(float)
    return df

In [123]:
# Procesar los datos de la categoria de monedas de Meme
pathFile = "./data/data_raw/data_memes_18042024_coinmarket.csv"
category_token = "MEME"
df = preprocessing_data(pathFile,category_token)
pathFileClean = "./data/data_clean/"
df.to_csv(f"{pathFileClean}data_memes_18042024_coinmarket.csv",sep=";",index=False)
df.head()

,top,Nombre,Precio USD,1h%,24h%,7d%,CAP. USD,ACC. CIRCULACION,Symbol,Volumen (24h) USD,Volumen (24h) Tokens,CATEGORY
0,9,Dogecoin,0.150800,1.00,1.59,-21.91,2.171325e+10,1.439400e+11,DOGE,1.980506e+09,1.317143e+10,MEME
1,11,Shiba inu,0.000023,0.30,2.38,-17.71,1.333760e+10,5.892894e+14,SHIB,4.727369e+08,2.092000e+13,MEME
2,43,dogwifhat,2.590000,1.58,4.95,-27.39,2.589994e+09,9.989062e+08,WIF,4.959827e+08,1.918557e+08,MEME
3,47,Pepe,0.000005,0.85,2.96,-31.14,2.144239e+09,4.206899e+14,PEPE,5.882097e+08,1.156218e+14,MEME
4,64,FLOKI,0.000138,0.36,2.24,-28.09,1.321730e+09,9.568393e+12,FLOKI,1.407826e+08,1.021617e+12,MEME

In [124]:
# Procesar los datos de la categoria de monedas de Gaming
pathFile = "./data/data_raw/data_gaming_18042024_coinmarket.csv"
category_token = "GAMING"
df = preprocessing_data(pathFile,category_token)
pathFileClean = "./data/data_clean/"
df.to_csv(f"{pathFileClean}data_gaming_18042024_coinmarket.csv",sep=";",index=False)

In [3]:
# Procesar data de ecosistemas de los tokens
folder_path = "./data/data_raw/ecosystems/"
csv_files = list(Path(folder_path).glob("*.csv"))
filtered_files = [file.name for file in csv_files ]

In [4]:
filtered_files

['data_BTC_TOKEN_18042024_coinmarket.csv',
 'data_CARDANO_TOKEN_18042024_coinmarket.csv',
 'data_ETHERIUM_TOKEN_18042024_coinmarket.csv',
 'data_SOLANA_TOKEN_18042024_coinmarket.csv',
 'data_token_tron_18042024_coinmarket.csv']

In [10]:
ecosystem = ["BITCOIN","CARDANO","ETHERIUM","SOLANA","TRON"]
def process_token_by_ecosystem(folder_path,file,ecosystem):
    df_ecosystems  = pd.read_csv(f"{folder_path}{file}",sep=";")
    df_ecosystems.drop(columns=["Unnamed: 0"],inplace=True)
    df_ecosystems= df_ecosystems.replace("+#",None)
    df_ecosystems=df_ecosystems.replace("--",None)
    df_ecosystems.dropna(inplace=True)
    df_ecosystems["ECOSYSTEM"] = ecosystem
    #cambiar nombre a columna +# for top
    df_ecosystems = df_ecosystems.rename(columns={"+#":"top"})
    df_ecosystems["top"] = df_ecosystems["top"].astype(int)
    df_ecosystems["SYMBOL"]=df_ecosystems["Nombre"].str.split(" ").str[-1]
    df_ecosystems["Nombre"] = df_ecosystems["Nombre"].str.split(" ").str[:-1].str.join(" ")
    df_ecosystems = df_ecosystems.rename(columns={'Nombre': "NAME"})
    df_ecosystems = df_ecosystems[["NAME","ECOSYSTEM","SYMBOL"]]
    return df_ecosystems
folder_path = "./data/data_raw/ecosystems/"
pathFileClean = "./data/data_clean/"
for idx,file in enumerate(filtered_files):
    df_ecosystems = process_token_by_ecosystem(folder_path,file,ecosystem[idx])
    df_ecosystems.to_csv(f"{pathFileClean}{file}",sep=";",index=False)
df_ecosystems.head()

               NAME ECOSYSTEM SYMBOL
0              TRON      TRON    TRX
1  BitTorrent (New)      TRON    BTT
2            APENFT      TRON    NFT
3              JUST      TRON    JST
4         Sun (New)      TRON    SUN

In [11]:
# Procesar data de ecosistemas de los portafolios
folder_path = "./data/data_raw/walles/"
csv_files = list(Path(folder_path).glob("*.csv"))
filtered_files = [file.name for file in csv_files ]

In [17]:
names = [name[:-4] for name in filtered_files]

def process_token_by_portfolio(folder_path,file,name):
    df_portfolio  = pd.read_csv(f"{folder_path}{file}",sep=";")
    df_portfolio.drop(columns=["Unnamed: 0"],inplace=True)
    df_portfolio= df_portfolio.replace("+#",None)
    df_portfolio=df_portfolio.replace("--",None)
    df_portfolio.dropna(inplace=True)
    df_portfolio["PORTFOLIO"] = name
    #cambiar nombre a columna +# for top
    df_portfolio = df_portfolio.rename(columns={"+#":"TOP"})
    df_portfolio["TOP"] = df_portfolio["TOP"].astype(int)
    df_portfolio["SYMBOL"]=df_portfolio["Nombre"].str.split(" ").str[-1]
    df_portfolio["Nombre"] = df_portfolio["Nombre"].str.split(" ").str[:-1].str.join(" ")
    df_portfolio = df_portfolio.rename(columns={'Nombre': "NAME"})
    df_portfolio = df_portfolio[["NAME","PORTFOLIO","SYMBOL"]]
    return df_portfolio
folder_path = "./data/data_raw/walles/"
pathFileClean = "./data/data_clean/"
for idx,file in enumerate(filtered_files):
    df_portfolio = process_token_by_portfolio(folder_path,file,names[idx])
    df_portfolio.to_csv(f"{pathFileClean}{file}",sep=";",index=False)
df_portfolio.head()

       NAME PORTFOLIO SYMBOL
0   Bitcoin       USV    BTC
1  Ethereum       USV    ETH
2    Stacks       USV    STX
3  Algorand       USV   ALGO
4    Helium       USV    HNT

In [1]:
import pandas as pd
from  pathlib import Path

In [62]:
#  concatenar tokens
folder_path = "./data/data_clean/TOKENS/"
csv_files = list(Path(folder_path).glob("*.csv"))
filtered_files = [file.name for file in csv_files ]
filtered_files

['data_ai_18042024_coinmarket.csv',
 'data_gaming_18042024_coinmarket.csv',
 'data_memes_18042024_coinmarket.csv']

In [63]:

df_ai=pd.read_csv(f"{folder_path}{filtered_files[0]}",sep=";")
df_gaming=pd.read_csv(f"{folder_path}{filtered_files[1]}",sep=";")
df_memes=pd.read_csv(f"{folder_path}{filtered_files[2]}",sep=";")

In [64]:
tokens_ai=df_ai["Nombre"].to_list()
tokens_gaming=df_gaming["Nombre"].to_list()
tokens_memes=df_memes["Nombre"].to_list()

tokens_names = list(set(tokens_ai + tokens_gaming + tokens_memes))

df_tokens = pd.DataFrame(tokens_names,columns=["TOKENS"])

In [65]:
df_ai.head()

,top,Nombre,Precio USD,1h%,24h%,7d%,CAP. USD,ACC. CIRCULACION,Symbol,Volumen (24h) USD,Volumen (24h) Tokens,CATEGORY
0,1050,Robonomics.network,6.540000,0.37,0.56,-23.40,10888512.0,1.665451e+06,XRT,30861.0,4.720000e+03,AI
1,1057,SENATE,0.096000,-0.19,0.50,-21.22,10544140.0,1.098224e+08,SENATE,79786.0,8.311800e+05,AI
2,1056,Big Data Protocol,0.201700,0.35,0.14,-20.36,10522378.0,5.227886e+07,BDP,248287.0,1.230849e+06,AI
3,1058,PIBBLE,0.000481,-0.50,-3.22,-23.71,10515630.0,2.191386e+10,PIB,245007.0,5.099293e+08,AI
4,1064,Ooki Protocol,0.002281,0.02,-0.75,-29.57,10377404.0,4.558587e+09,OOKI,2687294.0,1.178282e+09,AI

In [66]:
data_ai = df_ai[["Nombre","Symbol","top","1h%","24h%","7d%","Volumen (24h) USD","Volumen (24h) Tokens","ACC. CIRCULACION","CAP. USD","Precio USD",]].to_dict(orient="records")
data_gaming = df_gaming[["Nombre","Symbol","top","1h%","24h%","7d%","Volumen (24h) USD","Volumen (24h) Tokens","ACC. CIRCULACION","CAP. USD","Precio USD",]].to_dict(orient="records")
data_memes = df_memes[["Nombre","Symbol","top","1h%","24h%","7d%","Volumen (24h) USD","Volumen (24h) Tokens","ACC. CIRCULACION","CAP. USD","Precio USD",]].to_dict(orient="records")

In [67]:
data_cols = ["Symbol","top","1h%","24h%","7d%","Volumen (24h) USD","Volumen (24h) Tokens","ACC. CIRCULACION","CAP. USD","Precio USD"]

In [68]:
df_tokens["AI"] = df_tokens["TOKENS"].apply(lambda x: 1 if x in tokens_ai else 0)
df_tokens["GAMING"] = df_tokens["TOKENS"].apply(lambda x: 1 if x in tokens_gaming else 0)
df_tokens["MEMES"] = df_tokens["TOKENS"].apply(lambda x: 1 if x in tokens_memes else 0)
df_tokens.head()

           TOKENS  AI  GAMING  MEMES
0          Trex20   0       1      0
1          Sponge   0       0      1
2  Heroes Chained   0       1      0
3         Crypton   0       1      0
4         Ring AI   1       0      0

In [69]:
df_tokens.shape

(1131, 4)

In [70]:
dataframes = [df_ai,df_gaming,df_memes]

In [73]:

df_tokens["top"] = df_tokens["TOKENS"].apply(lambda x: df_gaming[df_gaming["Nombre"]==x]["top"].values[0] if x in df_gaming["Nombre"].to_list() else None)
df_tokens["top"] = df_tokens.apply(lambda row: row["top"] if pd.notnull(row["top"]) else (df_ai[df_ai["Nombre"]==row["TOKENS"]]["top"].values[0] if row["TOKENS"] in df_ai["Nombre"].to_list() else None), axis=1)
df_tokens["top"] = df_tokens.apply(lambda row: row["top"] if pd.notnull(row["top"]) else (df_memes[df_memes["Nombre"]==row["TOKENS"]]["top"].values[0] if row["TOKENS"] in df_memes["Nombre"].to_list() else None), axis=1)

In [60]:
#renombrar columan token por Symbol
df_tokens = df_tokens.rename(columns={"TOKENS":"Nombre"})

In [76]:
df_tokens.columns

Index(['TOKENS', 'AI', 'GAMING', 'MEMES', 'top'], dtype='object')

In [77]:
df_ai.columns

Index(['top', 'Nombre', 'Precio USD', '1h%', '24h%', '7d%', 'CAP. USD',
       'ACC. CIRCULACION', 'Symbol', 'Volumen (24h) USD',
       'Volumen (24h) Tokens', 'CATEGORY'],
      dtype='object')

In [81]:
for col in data_cols:
    df_tokens[col] = None
    df_tokens[col] = df_tokens.apply(lambda row: row[col] if pd.notnull(row[col]) else (df_gaming[df_gaming["Nombre"]==row["TOKENS"]][col].values[0] if row["TOKENS"] in df_gaming["Nombre"].to_list() else None), axis=1)
    df_tokens[col] = df_tokens.apply(lambda row: row[col] if pd.notnull(row[col]) else (df_ai[df_ai["Nombre"]==row["TOKENS"]][col].values[0] if row["TOKENS"] in df_ai["Nombre"].to_list() else None), axis=1)
    df_tokens[col] = df_tokens.apply(lambda row: row[col] if pd.notnull(row[col]) else (df_memes[df_memes["Nombre"]==row["TOKENS"]][col].values[0] if row["TOKENS"] in df_memes["Nombre"].to_list() else None), axis=1)

In [88]:
df_tokens.head()

,TOKENS,AI,GAMING,MEMES,top,Symbol,1h%,24h%,7d%,Volumen (24h) USD,Volumen (24h) Tokens,ACC. CIRCULACION,CAP. USD,Precio USD
0,Trex20,0,1,0,2918.0,TX20,1.36,-7.86,-43.95,545511.0,10430536.0,2.127958e+07,1112909.0,0.052300
1,Sponge,0,0,1,4281.0,$SPONGE,1.41,-56.98,-11.06,36065.0,645864978.0,2.465155e+10,1376554.0,0.000056
2,Heroes Chained,0,1,0,1459.0,HEC,0.66,-0.38,-36.00,216957.0,4132362.0,4.915391e+07,2580673.0,0.052500
3,Crypton,0,1,0,1371.0,CRP,0.05,0.03,9.78,582055.0,1600068.0,9.768314e+06,3553124.0,0.363800
4,Ring AI,1,0,0,3389.0,RING,-1.20,-0.65,-2.86,180382.0,612863.0,1.000000e+08,29432666.0,0.294300

In [89]:
# añadir colunmnas de portafolio 
folder_path = "./data/data_clean/PORTFOLIO/"
csv_files = list(Path(folder_path).glob("*.csv"))

filtered_files = [file.name for file in csv_files ]

filtered_files  

for portfolio in filtered_files:
    df_portfolio = pd.read_csv(f"{folder_path}{portfolio}",sep=";")
    df_portfolio = df_portfolio.rename(columns={"NAME":"Nombre"})
    df_portfolio = df_portfolio[["Nombre","PORTFOLIO"]]
    df_tokens[portfolio[:-4]] = df_tokens["TOKENS"].apply(lambda x: 1 if x in df_portfolio["Nombre"].to_list() else 0)

In [120]:
pathFileClean = "./data/data_clean/"
df_tokens.to_csv(f"{pathFileClean}data_tokens_18042024_coinmarket.csv",sep=";",index=False)

In [134]:
df_tokens = pd.read_csv(f"{pathFileClean}data_tokens_18042024_coinmarket.csv",sep=";")

In [124]:
folder_path = "./data/data_clean/ECOSYSTEM/"
csv_files = list(Path(folder_path).glob("*.csv"))

filtered_files = [file.name for file in csv_files ]

filtered_files

['BITCOIN.csv', 'CARDANO.csv', 'ETHERIUM.csv', 'SOLANA.csv', 'TRON.csv']

In [138]:
for ecosystem in filtered_files:
    df_portfolio = pd.read_csv(f"{folder_path}{ecosystem}",sep=";")
    df_portfolio = df_portfolio.rename(columns={"NAME":"Nombre"})
    df_portfolio = df_portfolio[["Nombre","ECOSYSTEM"]]
    df_tokens[ecosystem[:-4]] = df_tokens["TOKENS"].apply(lambda x: 1 if x in df_portfolio["Nombre"].to_list() else 0)

In [155]:
ecosystem_list = list(df_tokens.columns)[34:]
ecosystem_list

['BITCOIN', 'CARDANO', 'ETHERIUM', 'SOLANA', 'TRON']

In [156]:
df_tokens["OTHER"] = df_tokens.apply(lambda row: 1 if all(row[eco] == 0 for eco in ecosystem_list) else 0, axis=1)

In [158]:
df_tokens.to_csv(f"{pathFileClean}data_tokens_18042024_coinmarket.csv",sep=";",index=False)

In [ ]:
json_obj = df_tokens.to_json(orient='records')

In [146]:
with open('data_clean.json', 'w') as f:
    f.write(json_obj)

In [ ]:
json_obj[0]